<h1><%='Edit User' %></h1>

<%= form_with model: @user do |u| %>
Name: <%= u.text_field :name %> <br> <br>
Email: <%= u.text_field :email %> <br> <br>
Cnic: <%= u.text_field :cnic %> <br> <br>
<%= u.submit %>
<% end %>


