<%= link_to 'Home', '/' %>
<%= link_to 'Back', '/projects' %>



<h1><%='Create a new project' %></h1>


<% if flash[:errors].present? %>
  <div id="error_explanation">
    <h2><%= pluralize(flash[:errors].count, "error") %> prohibited this user from being saved:</h2>
    <ul>
      <% flash[:errors].each do |error| %>
        <li><%= error %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_with model: @project do |p| %>
Title: <%= p.text_field :title %> <br> <br>
Description: <%= p.text_field :description %> <br> <br>

  <%= p.fields_for :user_projects do |u| %>
    <%= u.label :user_id %>
    <%= u.collection_select :user_id, User.all, :id, :name, { prompt: true } %> <br><br>
  <% end %>


<%= p.submit %>
<% end %>


